.env
release/*
tools/tts/.python-version
tools/tts/audio.wav
tools/tts/kokoro-v0_19.onnx
tools/tts/uv.lock
tools/tts/voices.json
tools/tts/hello.py
**/ebooks/*.pdf
release/llm-tournament-v1.0-win.exe
tools/tts/podcast.wav
tools/bg_batch_eraser/.python-version
tools/bg_batch_eraser/BEN2_Base.pth
tools/bg_batch_eraser/hello.py
tools/bg_batch_eraser/image1.png
tools/bg_batch_eraser/image2.png
tools/bg_batch_eraser/image3.png
tools/bg_batch_eraser/pyproject.toml
tools/bg_batch_eraser/uv.lock
tools/bg_batch_eraser/__pycache__
tools/bg_batch_eraser/foreground1.png
tools/bg_batch_eraser/foreground2.png
tools/bg_batch_eraser/foreground3.png
tools/bg_batch_eraser/foreground.mp4
tools/bg_batch_eraser/foreground_output_with_audio.mp4
tools/bg_batch_eraser/video.mp4
tools/bg_batch_eraser/foreground.webm
.webui_secret_key
.aider*
data/tournament.db-shm
data/tournament.db-wal
.claude/settings.local.json
llm-tournament.exe
