.aider*
.env
release/*
tools/tts/.python-version
tools/tts/audio.wav
tools/tts/kokoro-v0_19.onnx
tools/tts/uv.lock
tools/tts/voices.json
tools/tts/hello.py
**/ebooks/*.pdf
release/llm-tournament-v1.0-win.exe
tools/tts/podcast.wav
