<!doctype html>
<html data-theme="coffee">
  <head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/templates/output.css" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  </head>
  <body>
    <div class="flex flex-col min-h-screen bg-base-200 p-3">
      <main class="flex justify-center items-start flex-1">
        <div class="card bg-base-100 shadow-lg w-full max-w-[1320px]">
          <div class="card-body">
            <h1 class="card-title">Edit Profile</h1>
            <form action="/edit_profile" method="post" class="form-control">
              <input type="hidden" name="index" value="{{.Index}}" />
              <label class="label" for="profile_name">Profile Name:</label>
              <input
                type="text"
                name="profile_name"
                value="{{.Profile.Name}}"
                class="input input-bordered"
              />
              <label class="label" for="profile_description"
                >Profile Description:</label
              >
              <textarea
                name="profile_description"
                rows="12"
                class="textarea textarea-bordered"
              >
{{.Profile.Description}}</textarea
              >
              <div class="card-actions justify-start">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" form="cancel-form" class="btn btn-ghost">
                  Cancel
                </button>
              </div>
            </form>
            <form id="cancel-form" action="/profiles" method="get"></form>
            <div class="divider">Preview</div>
            <div id="profile-preview" class="prose text-base-content">
              {{.Profile.Description | markdown}}
            </div>
            <script>
              const profileDescriptionTextarea = document.querySelector(
                'textarea[name="profile_description"]',
              );
              const profilePreview = document.getElementById("profile-preview");

              function updateProfilePreview() {
                const markdownText = profileDescriptionTextarea.value;
                profilePreview.innerHTML = marked.parse(markdownText);
              }

              profileDescriptionTextarea.addEventListener(
                "input",
                updateProfilePreview,
              );
              updateProfilePreview();
            </script>
            <div class="fixed left-4 bottom-4 flex flex-col gap-2 z-[1000]">
              <button class="btn btn-info" onclick="scrollToTop()">↑</button>
              <button class="btn btn-info" onclick="scrollToBottom()">↓</button>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      function scrollToTop() {
        window.scrollTo({ top: 0, behavior: "smooth" });
      }

      function scrollToBottom() {
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: "smooth",
        });
      }
    </script>
  </body>
</html>
