<!DOCTYPE html>
<html>
<head>
    <title>Import Error</title>
    <link rel="stylesheet" href="/templates/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
    <h1>Import Error</h1>
    <p style="text-align: center;">There was an error importing the file. Please check the file format and try again.</p>
    <form action="/prompts" method="get" style="text-align: center;">
        <input type="submit" value="Go Back">
    </form>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
