{{define "nav"}}
<nav style="gap: 10px">
  <form
    action="/results"
    method="get"
    style="display: inline; margin-bottom: 0"
  >
    <input
      type="submit"
      value="Results"
      style="
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #bb86fc;
        color: #1a1a1a;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      "
    />
  </form>
  <form
    action="/prompts"
    method="get"
    style="display: inline; margin-bottom: 0"
  >
    <input
      type="submit"
      value="Prompt"
      style="
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #bb86fc;
        color: #1a1a1a;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      "
    />
  </form>
</nav>
{{end}}
