<!doctype html>
<html>
<head>
    <title>Reset Profiles</title>
    <link rel="stylesheet" href="/templates/output.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>
<body>
    <div class="arena-shell arena-shell-solo">
        <main class="arena-main arena-main-solo">
            <div class="container edit-container">
                <h1>Reset Profiles</h1>
                <form action="/reset_profiles" method="post">
                    <input type="submit" value="Reset Profiles" />
                    <input type="submit" form="cancel-form" value="Cancel" />
                </form>
                <form id="cancel-form" action="/profiles" method="get"></form>
                <p>Are you sure you want to reset all profiles? This action cannot be undone.</p>
                <div class="scroll-buttons">
                    <button class="scroll-button" onclick="scrollToTop()">↑</button>
                    <button class="scroll-button" onclick="scrollToBottom()">↓</button>
                </div>
                <script>
                    function scrollToTop() {
                        window.scrollTo({ top: 0, behavior: "smooth" });
                    }

                    function scrollToBottom() {
                        window.scrollTo({ top: document.body.scrollHeight, behavior: "smooth" });
                    }
                </script>
            </div>
        </main>
    </div>
</body>
</html>
